/****************** 
  yasinbaran.com.tr
 ******************/
 // To change size just change $size property
 $size: 10px;

 @mixin center($position) {
  display: flex;
  flex-direction: $position;
  align-items: center;
  justify-content: center;
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #4285F4;
  div.clock{
    @include center(row);
    height: 100vh;
    div.clock-ring{
      width: 30*$size;
      height: 30*$size;
      border: 2*$size solid #ffffff;
      border-radius: 20%;
      box-shadow: 0 0 2*$size #ffffff,
      0 0 .5*$size #000000,
      inset 0 0 .5*$size #000000,
      inset 0 0 3*$size #ffffff;
      position: relative;
      div.hand{
        width: 50%;
        height: .5*$size;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
        border: none;
        border-radius: .5*$size;
        position: absolute;
        top: 50%;
        transform-origin: 100%;
        transition: all 30ms cubic-bezier(0.16, 0.88, 0.44, 1);
        background: #000000;

      }
    }
  }
}



 /****************** 
    brnysn.com
 *****************/