/****************** 
  yasinbaran.com.tr
 *****************/
@import url("https://fonts.googleapis.com/css?family=Nunito:400&display=swap");
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2900%);
            transform: translateX(2900%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2900%);
            transform: translateX(2900%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

* body {
  height: 100vh;
  background: #25272e;
}

* body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 100px;
  width: 100vw;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

* body header h1 {
  color: #25272e;
  font-size: 40px;
}

* body main {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

* body main div.upperContainer {
  text-align: center;
  margin-bottom: 20px;
}

* body main div.upperContainer label {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 5px;
}

* body main div.upperContainer label span {
  color: yellow;
}

* body main div.upperContainer label:after {
  content: 'ms';
  color: yellow;
  text-transform: lowercase;
}

* body main div.upperContainer .slidecontainer {
  width: 100%;
}

* body main div.upperContainer .slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

* body main div.upperContainer .slider:hover {
  opacity: 1;
}

* body main .container {
  position: relative;
  width: 600px;
  height: 600px;
  border: none;
  border-radius: 50%;
}

* body main .container .line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 1px;
}

* body main .container .line .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  border: none;
  border-radius: 50%;
  background: yellow;
  -webkit-animation: circle 3000ms infinite ease-in-out;
          animation: circle 3000ms infinite ease-in-out;
}

* body main .container .line .circle1 {
  -webkit-animation-delay: calc(3000ms/ 36 * 1);
          animation-delay: calc(3000ms/ 36 * 1);
}

* body main .container .line .circle2 {
  -webkit-animation-delay: calc(3000ms/ 36 * 2);
          animation-delay: calc(3000ms/ 36 * 2);
}

* body main .container .line .circle3 {
  -webkit-animation-delay: calc(3000ms/ 36 * 3);
          animation-delay: calc(3000ms/ 36 * 3);
}

* body main .container .line .circle4 {
  -webkit-animation-delay: calc(3000ms/ 36 * 4);
          animation-delay: calc(3000ms/ 36 * 4);
}

* body main .container .line .circle5 {
  -webkit-animation-delay: calc(3000ms/ 36 * 5);
          animation-delay: calc(3000ms/ 36 * 5);
}

* body main .container .line .circle6 {
  -webkit-animation-delay: calc(3000ms/ 36 * 6);
          animation-delay: calc(3000ms/ 36 * 6);
}

* body main .container .line .circle7 {
  -webkit-animation-delay: calc(3000ms/ 36 * 7);
          animation-delay: calc(3000ms/ 36 * 7);
}

* body main .container .line .circle8 {
  -webkit-animation-delay: calc(3000ms/ 36 * 8);
          animation-delay: calc(3000ms/ 36 * 8);
}

* body main .container .line .circle9 {
  -webkit-animation-delay: calc(3000ms/ 36 * 9);
          animation-delay: calc(3000ms/ 36 * 9);
}

* body main .container .line .circle10 {
  -webkit-animation-delay: calc(3000ms/ 36 * 10);
          animation-delay: calc(3000ms/ 36 * 10);
}

* body main .container .line .circle11 {
  -webkit-animation-delay: calc(3000ms/ 36 * 11);
          animation-delay: calc(3000ms/ 36 * 11);
}

* body main .container .line .circle12 {
  -webkit-animation-delay: calc(3000ms/ 36 * 12);
          animation-delay: calc(3000ms/ 36 * 12);
}

* body main .container .line .circle13 {
  -webkit-animation-delay: calc(3000ms/ 36 * 13);
          animation-delay: calc(3000ms/ 36 * 13);
}

* body main .container .line .circle14 {
  -webkit-animation-delay: calc(3000ms/ 36 * 14);
          animation-delay: calc(3000ms/ 36 * 14);
}

* body main .container .line .circle15 {
  -webkit-animation-delay: calc(3000ms/ 36 * 15);
          animation-delay: calc(3000ms/ 36 * 15);
}

* body main .container .line .circle16 {
  -webkit-animation-delay: calc(3000ms/ 36 * 16);
          animation-delay: calc(3000ms/ 36 * 16);
}

* body main .container .line .circle17 {
  -webkit-animation-delay: calc(3000ms/ 36 * 17);
          animation-delay: calc(3000ms/ 36 * 17);
}

* body main .container .line .circle18 {
  -webkit-animation-delay: calc(3000ms/ 36 * 18);
          animation-delay: calc(3000ms/ 36 * 18);
}

* body main .container .line1 {
  -webkit-transform: translate(-50%, -50%) rotateZ(10deg);
          transform: translate(-50%, -50%) rotateZ(10deg);
}

* body main .container .line2 {
  -webkit-transform: translate(-50%, -50%) rotateZ(20deg);
          transform: translate(-50%, -50%) rotateZ(20deg);
}

* body main .container .line3 {
  -webkit-transform: translate(-50%, -50%) rotateZ(30deg);
          transform: translate(-50%, -50%) rotateZ(30deg);
}

* body main .container .line4 {
  -webkit-transform: translate(-50%, -50%) rotateZ(40deg);
          transform: translate(-50%, -50%) rotateZ(40deg);
}

* body main .container .line5 {
  -webkit-transform: translate(-50%, -50%) rotateZ(50deg);
          transform: translate(-50%, -50%) rotateZ(50deg);
}

* body main .container .line6 {
  -webkit-transform: translate(-50%, -50%) rotateZ(60deg);
          transform: translate(-50%, -50%) rotateZ(60deg);
}

* body main .container .line7 {
  -webkit-transform: translate(-50%, -50%) rotateZ(70deg);
          transform: translate(-50%, -50%) rotateZ(70deg);
}

* body main .container .line8 {
  -webkit-transform: translate(-50%, -50%) rotateZ(80deg);
          transform: translate(-50%, -50%) rotateZ(80deg);
}

* body main .container .line9 {
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
          transform: translate(-50%, -50%) rotateZ(90deg);
}

* body main .container .line10 {
  -webkit-transform: translate(-50%, -50%) rotateZ(100deg);
          transform: translate(-50%, -50%) rotateZ(100deg);
}

* body main .container .line11 {
  -webkit-transform: translate(-50%, -50%) rotateZ(110deg);
          transform: translate(-50%, -50%) rotateZ(110deg);
}

* body main .container .line12 {
  -webkit-transform: translate(-50%, -50%) rotateZ(120deg);
          transform: translate(-50%, -50%) rotateZ(120deg);
}

* body main .container .line13 {
  -webkit-transform: translate(-50%, -50%) rotateZ(130deg);
          transform: translate(-50%, -50%) rotateZ(130deg);
}

* body main .container .line14 {
  -webkit-transform: translate(-50%, -50%) rotateZ(140deg);
          transform: translate(-50%, -50%) rotateZ(140deg);
}

* body main .container .line15 {
  -webkit-transform: translate(-50%, -50%) rotateZ(150deg);
          transform: translate(-50%, -50%) rotateZ(150deg);
}

* body main .container .line16 {
  -webkit-transform: translate(-50%, -50%) rotateZ(160deg);
          transform: translate(-50%, -50%) rotateZ(160deg);
}

* body main .container .line17 {
  -webkit-transform: translate(-50%, -50%) rotateZ(170deg);
          transform: translate(-50%, -50%) rotateZ(170deg);
}

* body main .container .line18 {
  -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
          transform: translate(-50%, -50%) rotateZ(180deg);
}

/******************
    brnysn.com
*****************/
/*# sourceMappingURL=style.css.map */