/****************** 
  yasinbaran.com.tr
 ******************/

/************** 
    Body css
 ***************/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2a3132;
}
.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  border: none;
  border-radius: 25px;
  text-align: center;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}
/************** 
 Input Fields
***************/
#username,
#pass {
  border: 2px solid #0097e6;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 15px 45px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  transition: 250ms width ease, 250ms border-color ease;
  -webkit-transition: 250ms width ease, 250ms border-color ease;
  -moz-transition: 250ms width ease, 250ms border-color ease;
  -o-transition: 250ms width ease, 250ms border-color ease;
}
/************** 
   On Hover
***************/
#username:hover,
#pass:hover {
  width: 220px;
}
/************** 
   On Focus
***************/
#username:focus,
#pass:focus {
  width: 250px;
  border-color: #6fb98f;
}
/************** 
 Submit Button
***************/
#submit {
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 15px 40px;
  outline: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  transition: 250ms background ease;
  -webkit-transition: 250ms background ease;
  -moz-transition: 250ms background ease;
  -o-transition: 250ms background ease;
}
/************** 
   On Hover
***************/
#submit:hover {
  background: #2ecc71;
}

/****************** 
  yasinbaran.com.tr
 ******************/
